*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(122, 114, 229);
}

.container{
    width: 50vw;
    height: 50vh;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-top: 150px;
}
#jokebtn{
    padding: 10px 20px;
    background-color: rgb(202, 161, 13);
    box-shadow: 0 0 10px rgb(40, 33, 33);
    border-radius: 30px;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
}
#jokebtn:hover{
    background-color: rgb(230, 250, 15);
}
#show{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}